body {
	background-color: #333333;	
}



div.bg_video {
	width: 100%;
	height: 100%;
	z-index: -98;
	min-height: 200px;
	position: fixed;
}

div.mainContainer {
	width: 100%;
	min-height: 200px;
}

/* title shot */

div.mainContainer>div.mainBanner {
	width: 100%;
	margin: 0px auto;
	position: relative;
	height: 1%;
	overflow: hidden;
}

div.mainContainer>div.mainBanner>div.titleHolder {
	position: relative;
	float: left;
	width: 80%;
	margin: 10%;
	/*font-size: 3em;*/
	font-size: 100px;
	font-style: bold;
	color: yellow;
}

div.mainContainer>div.mainBanner>div.titleHolder>p {
	font-size: 20px;
	color: yellow;
}

div.mainContainer>div.mainBanner>div.float_info {
	position: absolute;
	top: 10px;
	right: 20px;
}

img.githubLog {
	width: 50px;
	height: auto;
}

div.mainContainer>div.contentsHolder {
	width: 100%;
	min-height: 200px;
	overflow: hidden;
}

div.contentsHolder>div.dimGround {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #333333;
	z-index: -90;
	opacity: .7;
}


/*
 0325 - contents area
*/

div.linearContentsContainer {
	padding: 2%;
	height: 100%;
}


div.horizontalContents {
	display: table;
	margin: 2%;
	width: inherit;
}

div.table_row {
	display: table-row;
	min-height: 200px;
	width: inherit;
	background-color: #8eff60;
}

div.table_row>div.table_cell {
	display: table-cell;
	background-color: #6cdaee;
	overflow: hidden;
	min-width: 150px;
}


div.table_row>div.cellTitle {
	color: white;
	font-weight: bold;
	font-size: 2em;
	max-width: 50px;
	vertical-align: middle;
	background-color: #272f2e !important;
}

div.table_row>div.cellContents {
	vertical-align: middle;
	padding: 1%;
}


/*
	FOOTER
*/

div.footer {
	background-color: #272f2e;
}

div.footer>div.footerContent {
	height: 1%;
	overflow: hidden;
	color: white;
	padding: 2%;
}

div.footerContent>a {
	text-decoration: none;
}