body {
	
}


div.bg_video {
	width: 100%;
	z-index: -99;
	background-color: #C0C0C0;
	min-height: 200px;
	position: fixed;
}

div.mainContainer {
	width: 100%;
	opacity: 0.5;
	background-color: #3366ff;
	min-height: 200px;
	position: fixed;
}

/* title shot */

div.mainContainer>div.mainBanner {
	width: 100%;
	/*min-height: auto;*/
	margin: 0px auto;
	position: relative;
}

div.mainContainer>div.mainBanner>div.titleHolder {
	position: relative;
	float: left;
	width: 80%;
	margin: 10%;
	/*font-size: 3em;*/
	font-size: 100px;
	font-style: bold;
	color: yellow;
}

div.mainContainer>div.mainBanner>div.titleHolder>p {
	font-size: 20px;
	color: yellow;
}

div.mainContainer>div.mainBanner>div.float_info {
	position: absolute;
	top: 10px;
	right: 10px;
}

img.githubLog {
	width: 50px;
	height: auto;
}

div.mainContainer>div.contentsHolder {
	width: 80%;
	background-color: #CCE5FF;
	min-height: 200px;
	margin-left: 10%;
	/*padding: 20px;*/
}


/*
 0325 - contents area
*/

div.linearContentsContainer {
	background-color: #f98866;
	height: 100%;
	/*overflow: auto;*/
}


div.horizontalContents {
	display: table;
	margin: 2%;
}

div.table_row {
	display: table-row;
	min-height: 200px;
	background-color: #8eff60;
}

div.table_row>div.table_cell {
	display: table-cell;
	background-color: #6cdaee;
}


div.dateTitle {
	max-width: 50px;
	align-content: center;
	background-color: #fbe8a6 !important;
}